<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>スクレイピングアプリケーション</title>
    <style>
        header {
            background-color: gray;
            height: 300px;
        }
        h1 {
            font-size: 2rem;
            color: white;
            text-align: center;
            padding:50px;
        }
        form {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
        }
        input[type="url"] {
            width: 30%;
            height: 20px;
            padding: 10px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 16px;
        }
        button {
            width: 10%;
            padding: 10px;
            margin: 0px 20px 16px;
            color: black;
            border:1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
  <header>
    <h1>スクレイピングアプリケーション</h1>
    <%= form_with url: scrape_articles_path, method: :post do %>
      <%= text_field_tag :url, nil, placeholder: 'スクレイピングするURLを入力', required: true %>
      <%= submit_tag '実行' %>
    <% end %>
  </header>
</body>
</html>
